body,
input {
    font-family: 'Lato', sans-serif;
}

body {
    position: absolute;
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    color: #111;
    text-align: center;
    background: #ffffff;
    background-size: cover;
}

input,
input:focus {
    border: 0;
    outline: 0;
    -webkit-appearance: none;
}

.time {
    font-size: 5rem;
    letter-spacing: 6px;
}

.search {
    margin-top: 2rem;
}

.search-text,
.help {
    position: relative;
    box-sizing: border-box;
    width: 100%;
    max-width: 300px;
}

.search-text {
    padding: 0.75rem;
    background-color: #222;
    border-radius: 2px;
    color: #fff;
    font-size: 1.1rem;
    background-color:rgba(92, 92, 92, 0.70)
}

.help {
    height: 0;
    margin: 1rem auto 0;
    transition: height 0.2s linear;
    text-align: left;
    line-height: 1rem;
    column-count: 2;
    -moz-column-count: 2;
    -webkit-column-count: 2;
    overflow: hidden;
    -moz-box-shadow: 0 20px 30px rgba(0, 0, 0, 0.6);
    -webkit-box-shadow: 0 20px 30px rgba(0, 0, 0, 0.6);
    box-shadow: 0 20px 30px rgba(0, 0, 0, 0.6);
    background-color: rgba(0, 0, 0, 0.9);
}

#quotes {
    font-weight: bold;
    font-size:4em;
}

#weather-wrapper{
    margin:15px 0 0;
    display: block;
    font-size:2em;
    font-weight: bold;
}

#wrapper {
    position: absolute;
    top: 10%;
    left: calc(50% - 200px);
    margin-top: -50px;
    width: 400px;
    overflow: auto;
}

.box {
    -webkit-text-fill-color: white;
    color: white;
    top: 35%;
    border-radius: 5px;
    padding: 25px;
    text-align: center;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    transition: box-shadow .3s ease;
    text-shadow: 0 0 .5rem rgba(0,0,0,.25);
}

.small-box {
    -webkit-text-fill-color: white;
    color: white;
    top: 35%;
    -moz-box-shadow: 0 10px 10px rgba(0, 0, 0, 0.6);
    -webkit-box-shadow: 0 10px 10px rgba(0, 0, 0, 0.6);
    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.6);
    border: 1px solid rgba(255, 255, 255, 0);
    padding: 25px;
    text-align: center;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    transition: box-shadow .3s ease;
    background-color: rgba(0, 0, 0, 0.70);
    text-shadow: 0 0 .5rem rgba(0,0,0,.25);
    text-decoration: none;
    cursor:pointer;
}

.small-box:hover{
        border: 1px solid rgba(255, 255, 255, 1);
}

.grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 10px;
    max-width: 350px;
    padding:25px;
}

#addLinkForm{
    display: none;
    text-align:center;
    padding: 20px;
    color:white;
    padding-bottom: 30px;
}

#addLinkForm div{
    margin:10px 0;
}

#addLinkForm label{
    display: block;
}

#addLinkForm input{
    padding: 0.75rem 1%;
    background-color: #222;
    border-radius: 2px;
    font-size: 1.1rem;
    background:#fff;
    max-width: 98%;
}

#addLinkForm input[type=submit]{
    cursor: pointer;
}

.ajs-dialog,
.alertify .ajs-header,
.alertify .ajs-footer{
    background-color: #222222 !important;
    border:0 none !important;
    color:white !important;
    text-transform: uppercase;
    font-weight: bold;
}

.alertify .ajs-footer{
    display: none;
}

@media (max-width: 350px){
    .grid{
        grid-template-columns: repeat(2, 1fr);
        padding: 0;
        margin: 0 auto;
    }

    #wrapper {
        left: 0;
        width: auto;
    }
}